@using Chat.Models
@model SingleUserViewModel
@{
    ViewBag.Title = "SingleUser";
}

<div class="container">
    <div class="row " style="padding-top:40px;">
        <h3 class="text-center">You are chatting with @Model.User.UserName</h3>
        <br /><br />
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Room Chat
                </div>
                <div class="panel-body">
                    <ul id="discussion" class="media-list">
                        @if (Model.Room.Messages.Any() == true)
                        {
                            foreach (var mess in Model.Room.Messages)
                            {
                                <li class="media">
                                    <div class="media-body">
                                        <div class="media">
                                            <div class="media-body">
                                                @mess.Content
                                                <br />
                                                <small class="text-muted">@mess.Author</small>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <div class="media-body">
                                            Bine ai venit pe chat!
                                            <br />
                                            <small class="text-muted">Admin</small>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" id="message" placeholder="Enter Message" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="sendmessage" type="button">SEND</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center">
        <input type="button" class="connectToRoom btn btn-primary" value="Connect" />
        <input type="button" class="removeFromRoom btn btn-danger" value="Disconnect" />
    </h3>
</div>

@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>

    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var roomName = @Html.Raw(Json.Encode(Model.User.UserName));

            var chat = $.connection.chatHub;

            chat.client.addNewMessageToPage = function (name, message) {

                $('#discussion').append("<li class=" + "media" +"><div class="+"media-body"+"><div class="+"media"+"><div class="+"media-body"+">" + htmlEncode(message) +"<br /><small class=" +"text-muted"+">"+ htmlEncode(name) +"</small><hr /></div></div></div></li>");
            };

            chat.client.showErrorMessage = function (er) {

                $('#discussion').append("<li class=" + "media" +"><div class="+"media-body"+"><div class="+"media"+"><div class="+"media-body"+">" + htmlEncode(er) +"<br /><small class=" +"text-muted"+">"+ "this is an error" +"</small><hr /></div></div></div></li>");
            };

            $('#message').focus();
  
            $.connection.hub.start().done(function () {
                $('.connectToRoom').click(function () {

                  chat.server.addToP2PRoom(roomName);
                });
                $('.removeFromRoom').click(function () {

                    chat.server.leaveRoom(roomName);
                });
                $('#sendmessage').click(function () {

                    chat.server.sendMessageToUser(roomName, $('#message').val());

                    $('#message').val('').focus();
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}